@import url('https://fonts.googleapis.com/css?family=Mansalva&display=swap');

@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body {
    background-color: black;
}

h1 {
    color: white;
    display: flex;
    justify-content: center;
    font-family: 'Mansalva', cursive;
    font-size: 48px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#wall {
    background-image: url("https://gitlab.com/DBirkbeck217/sokoban/raw/master/img:src/seamless_brick-512x512.png");
    background-size: cover;
    background-repeat: no-repeat, repeat;
    width: 40px;
    height: 40px;
}

#start {
    /* background-image: url("https://gitlab.com/DBirkbeck217/sokoban/raw/master/img:src/blocky.png");
    background-size: cover; */
    width: 40px;
    height: 40px;
}

#space {
    width: 40px;
    height: 40px;
}

#finish {
    width: 40px;
    height: 40px;
}

#empty_storage {
    width: 40px;
    height: 40px;
    opacity: 0.5;
    background-color: crimson;
    border-radius: 50%;
}

#box_start {
    width: 40px;
    height: 40px;
    background-image: url("https://gitlab.com/DBirkbeck217/sokoban/raw/master/img:src/RTS_Crate_0.png");
    background-size: cover;
}

#box_storage {
    width: 40px;
    height: 40px;
}

#box {
    width: 40px;
    height: 40px;
}

#box_stored {
    width: 40px;
    height: 40px;
    background-image: url("https://gitlab.com/DBirkbeck217/sokoban/raw/master/img:src/RTS_Crate_0.png");
    background-size: cover;
    opacity: 0.5;
}

.player {
    background-image: url("https://gitlab.com/DBirkbeck217/sokoban/raw/master/img:src/blocky.png");
    background-size: cover;
    width: 40px;
    height: 40px;
}

#winText {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 25px;
    color: white;
    font-family: 'Indie Flower', cursive;
    font-size: 24px;

}